/*----------General-----------*/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: helvetica;
}

a {
  text-decoration: none;
  font-family: inherit;
}

.link-item {
  position: absolute;
  height: 100%;
  width: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.bg-yellow {
  background-color: rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 2rem;
  padding-top: 3rem;
  font-weight: bold;
}

.showAll {
  font-size: 1.5rem;
  font-weight: bold;
}

/*-------Rate variables-----------*/
$starFull: 1.6rem;
$starHalf: $starFull / 2;

$star1: $starFull;
$star1-5: $starFull + $starHalf;
$star2: $starFull * 2;
$star2-5: ($starFull * 2) + $starHalf;
$star3: $starFull * 3;
$star3-5: ($starFull * 3) + $starHalf;
$star4: $starFull * 4;
$star4-5: ($starFull * 4) + $starHalf;
$star5: $starFull * 5;

.star {
  position: relative;
  display: inline-block;
  width: $starFull * 5;
  height: $starFull;
  font-size: $starFull;
  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "★★★★★";
    display: inline-block;
    height: $starFull;
    line-height: $starFull;
  }
  &:before {
    color: #ddd;
  }
  &:after {
    color: #ffa500;
    overflow: hidden;
    white-space: nowrap;
  }
}
.star0:after {
  width: 0;
}
.star1:after {
  width: $star1;
}
.star1-5:after {
  width: $star1-5;
}
.star2:after {
  width: $star2;
}
.star2-5:after {
  width: $star2-5;
}
.star3:after {
  width: $star3;
}
.star3-5:after {
  width: $star3-5;
}
.star4:after {
  width: $star4;
}
.star4-5:after {
  width: $star4-5;
}
.star5:after {
  width: $star5;
}

.wrap {
  width: 8rem;
  margin: 0 auto;
}

@keyframes SlideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes SlideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*----------HomeSection-----------*/
.Home-section {
  position: relative;
  background-image: url("./plzCons-img.jpg");
  background-size: cover;
  height: 100vh;
}
.bg-bk {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
}

/*----------Header-----------*/
header {
  height: 6rem;
}

.logo-i {
  font-size: 3.5rem;
  font-weight: bold;
  color: #ff5a60;
}

.link-font {
  font-size: 1.5rem;
  cursor: pointer;
}

/*----------------------------*/
.search-box {
  width: 42rem;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
}

.form-title {
  font-size: 3rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.f-input {
  width: 100%;
  padding: 1rem;
  margin: 0.3rem 0 1.2rem;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

#home-checkin {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#home-checkout {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.f-expl {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.f-date-box {
  width: 50%;
  display: inline-block;
}

.f-input-box {
  cursor: pointer;
}

#GTModalRcv {
  position: relative;
}

.Guest-modal {
  position: absolute;
  padding: 2rem;
  top: 0;
  left: 0;
  width: 100%;
}
.GMMinus,
.GMPlus {
  font-size: 3.5rem;
  padding: 1rem;
  border: 0.1rem solid blueviolet;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.GMnum {
  padding: 1rem 2rem;
}

#GMApply {
  padding: 1rem;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: skyblue;
  }
}

#guests {
  font-size: 1.5rem;
  border: none;
  outline: none;
  background: none;
}

#search {
  font-size: 1.5rem;
  font-weight: bold;
}

/*-----------OptionSection-------------*/
.options {
  display: flex;
}

.option {
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
  margin-right: 2rem;
}
.option-box {
  display: flex;
  cursor: pointer;
  height: 8rem;
}

.option-img {
  width: 10rem;
  height: 100%;
}

.option-text {
  font-size: 1.5rem;
  width: 20rem;
  padding: 3.5rem 5rem 0.5rem 1.5rem;
  font-weight: bold;
}

/*------------A-PlusSection-------------*/
.A-plus-img-box {
  position: relative;
  background: url("./laConcha.jpg") 100%;
  height: 30rem;
  width: 100%;
}

.A-plus-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.home-i {
  font-size: 1.2rem;
  margin-left: 0.7rem;
}
/*-----------CarouselCSSs------------*/
.recommends {
  display: flex;
  padding-bottom: 3rem;
}

.recommend {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  margin: 1rem;
}

.Carousel-img-box {
  position: relative;
  width: 20rem;
  height: 25rem;
}

.Carousel-link {
  cursor: pointer;
}
.Carousel-img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
.Carousel-info {
  position: absolute;
  z-index: 10;
  top: 80%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.Carousel-title {
  font-size: 1.5rem;
}

/*----ExperienceSection----*/
.exp-img-box {
  position: relative;
  background: 100%;
  width: 100%;
  overflow: hidden;
  height: 30rem;
  border-radius: 2rem;
}

.exp-img {
  position: absolute;
  z-index: 1;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.exp-bg {
  position: absolute;
  z-index: 10;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(22, 135, 237, 1),
    rgba(20, 55, 90, 0.7)
  );
  width: 100%;
  height: 100%;
}

.exp-dsc {
  padding: 4rem;
  width: 28rem;
}

.exp-tag {
  font-size: 0.9rem;
}

.exp-title {
  font-size: 2rem;
  padding: 1rem 0;
  color: yellow;
}

.exp-expl {
  font-size: 1.1rem;
}

.exp-book {
  font-size: 1.2rem;
  padding: 1rem 0;
}
/*----A-HomeSection----*/
.A-Homes {
  display: flex;
  flex-wrap: wrap;
}

.A-Home-card {
  position: relative;
  margin: 1rem;
  width: 25rem;
}

.A-home-i {
  display: none;
}

.A-Home-img {
  width: 25rem;
}

.A-Home-title {
  font-size: 1.2rem;
}

.A-Home-others {
  font-size: 1.2rem;
}

.homeOther-i {
  font-size: 1.2rem;
  margin-left: 0.7rem;
}

/*----Top-Rated-Section----*/
.Top-Rated-experiences {
  overflow: hidden;
}

.Top-Rate-box {
  position: relative;
}

.Top-Rate-card {
  margin: 1rem;
  width: 13.5rem;
}

.Top-Rate-link {
  cursor: pointer;
}

.Top-Rate-img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.Top-Rate-title {
  font-size: 1.2rem;
}

.Top-Rate-others {
  font-size: 1.2rem;
}

.Top-Rated-i {
  font-size: 1.2rem;
  margin: auto;
  margin-left: 2rem;
  display: none;
}

.TR-show-i {
  margin: auto;
  margin-left: 2rem;
}
/*------Footer------*/
.footer-modal-box {
  position: fixed;
  width: 100%;
  bottom: 0;
}

#footer-btn {
  font-size: 1.4rem;
  position: fixed;
  z-index: 110;
  bottom: 0;
  right: 0;
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.footer-i {
  margin-right: 1.5rem;
}

.footer-container {
  padding: 3rem;
}

.footer-box {
  padding: 1rem;
  width: 25rem;
}

.FT-modal-title {
  padding: 1rem 0;
  font-weight: bold;
}

.FT-Modal-link {
  color: #767676;
  font-size: 1.4rem;
  padding: 0.4rem 0;
}

.sns-i {
  color: #767676;
  font-size: 1.8rem;
  margin-right: 1.5rem;
}

.sns-box {
  margin-top: 2rem;
  padding: 1rem;
}

.FT-badge {
  margin: 0 1rem;
  font-size: 1.2rem;
}

.FT-copyright {
  position: relative;
  padding: 2rem 0;
  font-size: 1.5rem;
}

.FT-logo-i {
  font-size: 2.5rem;
  margin: 1rem;
}

.FT-buttons {
  position: absolute;
  bottom: 3rem;
  right: 0;
}

.FT-button {
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.16);
  border: none;
  margin: 0.6rem;
}
