/*----------General-----------*/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: helvetica;
}

a {
  text-decoration: none;
  font-family: inherit;
}

.bg-yellow {
  background-color: rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 2rem;
  padding-top: 3rem;
  font-weight: bold;
}

/*----------HomeSection-----------*/
.Home-section {
  position: relative;
  background-image: url("./plzCons-img.jpg");
  background-size: cover;
  height: 100vh;
}
.bg-bk {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
}

/*----------Header-----------*/
header {
  height: 6rem;
}

.logo img {
  width: 3.5rem;
}

.link-font {
  font-size: 1.5rem;
  cursor: pointer;
}

/*----------------------------*/
.search-box {
  width: 42rem;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
}

.form-title {
  font-size: 3rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.f-input {
  width: 100%;
  padding: 1rem;
  margin: 0.3rem 0 1.2rem;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.f-expl {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.f-date-box {
  width: 50%;
  display: inline-block;
}

.f-input-box {
  cursor: pointer;
}

#guests {
  font-size: 1.5rem;
  border: none;
  outline: none;
  background: none;
}

#search {
  font-size: 1.5rem;
  font-weight: bold;
}

/*-----------OptionSection-------------*/
.options {
  display: flex;
}

.option {
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
  margin-right: 2rem;
}
.option-box {
  display: flex;
  cursor: pointer;
  height: 8rem;
}

.option-img {
  width: 10rem;
  height: 100%;
}

.option-text {
  font-size: 1.5rem;
  width: 20rem;
  padding: 3.5rem 5rem 0.5rem 1.5rem;
  font-weight: bold;
}

/*------------A-PlusSection-------------*/
.A-plus-img-box {
  display: flex;
  flex-direction: column;
  background: url("./laConcha.jpg") 100%;
}

.A-plus-btn {
  vertical-align: middle;
  align-items: center;
  justify-items: center;
  text-align: center;
  height: 30rem;
  width: 100%;
}
/*-----------RecommendSection------------*/
.recommends {
  display: flex;
  background: yellow;
  padding-bottom: 3rem;
}

.recommend {
  width: 10rem;
  margin: 1rem;
}

.rcmd-link {
  position: relative;
  background-color: beige;
  cursor: pointer;
}
.rcmd-img {
  position: absolute;
  z-index: 1;
  width: 10rem;
  border-radius: 0.5rem;
}
.rcmd-info {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
